:root {
    --app-bg-color: #476363;
    --todo-text: #ffffff;
}

body {
    background-color: var(--app-bg-color);
    background-blend-mode: overlay;
}


.form {
    width: 300px;
    margin: 0 auto;
}
.todo-text{
    color: var(--todo-text);
}
.state-text {
    color: var(--todo-text)
}
.checked {
    text-decoration: line-through
}